<!DOCTYPE html>
<html>
    <head>
        <title>Alert Fishes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/styles/index.css">
    </head>
    <body>
        <h1>Welcome to Fish's Alert System!</h1>
        <p>How would you like to to alert your fishes?</p>
        <div class="container">
            <img src="https://imgix.bustle.com/uploads/image/2019/8/27/27dc6f09-e1df-4c8c-ac05-9f7995af9da4-dory_a_l.jpg"
                alt="Dory Thinking">
            <a href="/standard"><button type="button" class="btn btn-primary">Come When Available</button></a>
            <a href="/angry"><button type="button" class="btn btn-danger">I'm Angry, Come Now</button></a>
        </div>
    </body>
</html>