<!DOCTYPE html>
<html>

<head>
    <title>Alert Fishes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/index.css">
</head>

<body>
    <div class="header">
        <h1>Fishes has been alerted, he feels much love</h1>
    </div>

    <div class="container">
        <img src="https://media3.giphy.com/media/109RutRrTGY97a/giphy.gif" alt="Darla Tapping glass from Finding Nemo">
    </div>
</body>

</html>