<!DOCTYPE html>
<html>

<head>
    <title>Alert Fishes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/index.css">
</head>

<body>
    <div class="header">
        <h1>Fish has been alerted, give him a chance to respond</h1>
    </div>

    <div class="container">
        <img src="https://media.tumblr.com/631641804e21a4a45810ab0dc79f6e22/tumblr_inline_mocmirmhCa1rlpk9c.gif" alt="Finding Nemo Gif">
    </div>
</body>

</html>