<!DOCTYPE html>
<html>

<head>
    <title>Alert Fishes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/index.css">
</head>

<body>
    <div class="header">
        <h1>Fish has been alerted of the tea, grab some popcorn!</h1>
    </div>

    <div class="container">
        <img src="https://64.media.tumblr.com/196e47ceced93fc1a098f2c7caecd1d7/690565a973c38d08-a2/s540x810/a1a7fe1a708291c6d4072d3960e48967d98251b7.gifv" alt="Below Deck Gif">
    </div>
</body>

</html>