.container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 25px;
    padding: 25px;
    font-size: 18px;
    width: 260px;
}

.btn:hover {
    transform: scale(0.96);
}

p {
    font-size: 28px;
}