@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-button-color: #007bff;
    --love-button-color: #f5429b;
    --angry-button-color: #dc3545;
    --tea-button-color: #5f775e;
    --button-text-color:#e3e3e3;
    --ping-button-color: #f5e942;
    --ping-text-color: #0540b5;
    --tea-text-color: rgb(162, 185, 76);
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #3480eb, #ad2ac7);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, p {
    color: white;
}

.container {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.row .mybtn:nth-child(2) {
    margin-left: 25px;
    margin-right: 25px;
}

p {
    font-size: 28px;
}

img {
    margin-top: 15px;
    width: 300px;
}

.mybtn {
    margin: 25px 0;
    padding: 25px;
    text-align: center;
    font-size: 36px;
    width: 260px;
    border-radius: .25rem;
    color: var(--button-text-color);
}

.mybtn:hover {
    text-decoration: none;
    color: var(--button-text-color);
    transform: scale(0.95);
}

.mybtn-standard {
    background-color: var(--primary-button-color);
}

.mybtn-love {
    background-color: var(--love-button-color);
}

.mybtn-angry {
    background-color: var(--angry-button-color);
}

.mybtn-ping {
    color: var(--ping-text-color);
    background-color: var(--ping-button-color);
}

.mybtn-ping:hover {
    color: var(--ping-text-color);
}

.mybtn-tea {
    color: var(--tea-text-color);
    background-color: var(--tea-button-color);
}